.row{
@mixin clearfix;
&__gutters{
    padding-right: -65px;
}

&__gutters >div{
padding-right: 65px;

}
@mixin atMedium{
    
    &__medium-4{
        float:left;
        width:33.33%;
    }
}
    
}